{% extends 'web/base.html' %}{% load static %}{% block headers %}

<!-- End Header -->

  <main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Our Services</h2>
          <ol>
            <li><a href="/home">Home</a></li>
            <li>Our Services</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Repatriation services</a></h4>
              <p class="description"> At your loved one’s loss in a foreign country, people are clueless about the further procedures, during such difficult times, we take care of everything from the start till the end until your loved one’s reaches the destination with great care and dignity.
           </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Burial services</a></h4>
              <p class="description"> Burial facility is available in United Arab Emirates for expatriates. Burial Ground or emirate is decided on the bases of deceased visa Status; whether it is Residence/Visit etc and approval of local authorities. When we arrange burial, we ensure everything is followed as per the rules.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Cremation services</a></h4>
              <p class="description">We arrange the cremation of your loved one as you request. In UAE we use different cremation centers located on different locations in different Emirates.We do also provide the services to repatriate of Ashes/Urns/Cremates of deceased to your requested destination.
                </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Contact Us</a></h4>
              <p class="description">

                Please contact us: Call, what’s app and Text: +971523552005 <br>Email: vcarepm@outlook.com <br>or<br> do write us we will be glad and pleased to assist you.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src={% static "web/vcare/img/why-us.jpg" %}  class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src={% static "web/vcare/img/service-details-1.jpg" %}  alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Repatriation Services</a></h5>
                <p class="card-text">When we repatriate, we ensure everything is done correctly and smoothly:

                  <br>We provide information to the family 24/7
             
                  Local Police or Authorities Clearances
             
                  Relevant permissions, permits and Certificates
             
                  Transfer from Mortuary under responsible supervision.
             
                  <br>Translation of documents if needed.
             
                  Embalming with Dubai Health Authority and Coffin Sealing
             
                  Liaisons with Consulates/Embassies for concern documents.
             
                  Customs clearances and transportation.
             
                  <br>Flight reservation for the deceased to home destination.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src={% static "web/vcare/img/service-details-2.jpg" %}  alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Burial Services</a></h5>
                <p class="card-text"> When we arrange cremation, we ensure everything is done correctly and smoothly:

                  We provide information to the family 24/7
             
                  Local Police or Authorities Clearances
             
                  Relevant permissions, permits and Certificates
             
                  Transfer from Mortuary under responsible supervision.
             
                  Administrative tasks and Transportation.
             
                  Church permissions, burial ground arrangement and plot and number for grave
             
                  Translation of documents if needed.
             
                  Liaisons with Consulates/Embassies for concern documents.
             
                  Dressing and Cleaning of Deceased before burial for viewing and prayer session
                </p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src={% static "web/vcare/img/service-details-3.jpg" %}  alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Cremation Services</a></h5>
                <p class="card-text"> When we arrange cremation, we ensure everything is done correctly and smoothly:

                  We provide information to the family 24/7
             
                  Local Police or Authorities Clearances
             
                  Relevant permissions, Municipality permits and Certificates
             
                  Transfer from Mortuary under responsible supervision.
             
                  Administrative tasks and Transportation.
             
                  Translation of documents if needed.
             
                  Liaisons with Consulates/Embassies for concern documents.
             
                  Dressing and Cleaning of Deceased before cremation for viewing and prayer session. 
              </p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src={% static "web/vcare/img/service-details-4.jpg" %} alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Working pattern</a></h5>
                <p class="card-text">We work with Local Police Departments, Concern Consulates/Embassies, Health Departments, Municipality department, Churches and Priests, Local Companies, Airlines and logistics to provide services to family to repatriate or arrange the funeral of their loved ones.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Service Details Section -->

    <!-- ======= Pricing Section ======= -->
    <section class="pricing section-bg" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 box">
            <h3>Free</h3>
            <h4>$0<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
              <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
              <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box featured">
            <h3>Business</h3>
            <h4>$29<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
              <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
              <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box">
            <h3>Developer</h3>
            <h4>$49<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
              <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
              <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% endblock %}